html {
  font-family: 'Noto Sans JP',sans-serif;
}
* {
  box-sizing: border-box;
}
a, li {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  color: #000;
}
img {
  max-width: 100%;
}
.fab {
  font-size: 28px;
}
.fa-bars {
  font-size: 30px;
}
.header-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
}
.header-logo {
  height: 30px;
  margin-right: auto;
}
.header-nav-list {
  display: flex;
}
.header-nav-list li {
  margin-right: 15px;
}
.header-nav-list a {
  font-size: 14px;
  font-weight: 700;
}
.header-nav-list li:last-child {
  margin-right: 0;
}
.header-nav-menu {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.header-nav-menu li {
  margin-right: 15px;
}
.bread-nav-list {
  max-width: 1270px;
  margin: 0 auto 25px auto;
  display: flex;
}
.bread-nav-list li {
  font-size: 12px;
  margin-right: 10px;
  color: #999;
}
.key-visual {
  height: 250px;
  width: 100%;
  background: url("images/nri_building_image.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}
.page-title {
  color: #fff;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 40px;
}
.page-title p {
  opacity: 0.8;
  margin-bottom: 25px;
}
.page-title h1 {
  font-size: 28px;
}
.main-contents-wrapper {
  max-width: 1000px;
  margin: 0 auto 80px auto;
}
.content-share {
  max-width: 800px;
  margin: 0 auto 40px auto;
}
.link-to-sns {
  width: 172px;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.link-to-sns li {
  margin-right: 10px;
}
.main-container {
  max-width: 800px;
  margin: 0 auto 120px auto;
}
.title-heading {
  font-size: 22px;
  margin-bottom: 40px;
}
.strategy-explained {
  line-height: 1.9;
}
.first-paragraph {
  margin-bottom: 20px;
}
.second-paragraph {
  margin-bottom: 30px;
}

.consolution {
  margin-bottom: 40px;
}
.download-doc {
  text-align: center;
  margin-bottom: 80px;
  
}
.link-pdf {
  padding: 15px 20px;
  background: #005bac;
  color: #fff;
  text-align: center;
  border: solid 1px #005bac;
}
.link-pdf:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.link-pdf::before {
  content: "\003e";
}
.articles-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.articles-link li > p > a {
  color: #005bac;
}
.nri-strength {
  background-color: #deecf8;
  padding: 20px;
  margin-bottom: 60px;
}
.nri-strength-list {
  display: flex;
  flex-wrap: wrap;
}
.nri-strength-list li {
  padding: 0 10px;
  width: calc(33.33333%);
  margin: 0 0 20px 0;
}
.strength-wrapper h2 {
  margin-bottom: 15px;
}
.strength-detail {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #fff; 
  padding: 15px 20px;
  text-align: center;
  align-items: center;
  color: #0c419a;
  border: solid 1px #ccc;
  line-height: 1.2;
}
.strength-detail::before {
  content: "\003e";
  position: absolute;
  left: 10px;
  margin: auto;
  color: #000;
}
.info-container {
  border-top: solid 1px #000;
}
.corporate-info {
  font-size: 20px;
  padding: 25px 0 35px 0;
  border-bottom: dotted 1px #000;
}
.an-info-section {
  border-bottom: dotted 1px #000;
  padding: 30px 0;
}
.an-info-section ul {
  display: flex;
  flex-wrap: wrap;
}
.an-info-section li {
  font-size: 14px;
  margin-top: 30px;
  padding: 0 10px;
  display: flex;
  color: #0c419a;
  width: calc(25%);
}
.an-info-section li::before {
  content: "\003e";
  color: #000;
  font-size: 3px;
  margin-right: 6px;
}
.an-info-section:last-child {
  margin-bottom: 60px;
}
.follow-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-top: solid 2px #999;
  border-bottom: solid 2px #999;
  margin-bottom: 40px;
}
.follow-us li:first-child {
  margin-right: 60px;
}
.follow-us li {
  font-weight: bold;
  margin-right: 40px;
}

.footer-main-container {
  max-width: 1286px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.footer-nav-box {
  width: calc(25%);
}
.footer-nav-box a {
  display: block;
  padding: 16px 0;
}
.footer-nav-box ul {
  display: flex;
  flex-direction: column;
}
.footer-nav-box li::before {
  content: "\003e";
  color: #000;
  font-size: 3px;
  margin-right: 6px;
}
.footer-nav-box li {
  margin-bottom: 16px;
}