* {
  box-sizing: border-box;
}

body, h1 {
  margin: 0;
}

li {
  list-style: none;
}

.header-container {
  max-width: 80%;
  height: 56px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header-container img {
  height: 24px;
}
.page-list {
  display: flex;
}
.page-list li + li {
  margin-left: 10px;
}

/* ここからメイン */
.key-visual {
  height: 744px;
  background:url('images/home_top/home_top@2x.png') no-repeat center center;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 60px;
}
.key-message {
  max-width: 80%;
  margin: 0 auto;
  color:#918F89;
  background-color: #FFFFFF;
  font-size: 60px;
  position: absolute;
  top: 50%;
}

.message-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.img-concept img {
  height: 560px;
}