@charset "utf-8";
/* キービジュアル */
.key-visual {
  background: url("../images/contact_top_sp.png");
}
.key-visual h1 {
  color: #FFF;
}
@media screen and (min-width: 376px) {
  .key-visual {
    height: 456px;
    background: url("../images/contact_top@2x.png");
    background-size: 100% 100%;
  }
  .key-visual h1 {
    color: #fff;
  }
}
/* キービジュアルおわり */
/* お問い合わせ */
.contact-form {
  text-align: center;
  margin-bottom: 240px;
}
.default-contact {
  display: none;
}
.contact-form p {
  display: none;
}
input, textarea {
  display: block;
  margin: 0 auto;
  width: 286px;
  padding: 10px 16px;
  border: solid 0.5px #707070;
  border-radius: 11px;
  opacity: 0.6;
}
input {
  margin-bottom: 16px;
}
textarea {
  margin-bottom: 32px;
  height: 160px;
}
::placeholder {
  font-size: 14px;
  letter-spacing: 0.7px;
}
.submission-btn {
  display: none;
}
.submission-btn-responsive {
  font-size: 18px;
  width: 173px;
  border-radius: 30px;
  color: #707070;
  background-color: #D1D1D1;
  opacity: 1;
  letter-spacing: 0.9px;
  border: none;
  padding: 12px 0;
  margin-bottom: 0;
}
@media screen and (min-width: 376px) {
  .contact-form {
    text-align: center;
    margin-bottom: 320px;
    color: #3B3B3B;
  }
  .default-contact {
    display: block;
  }
  .responsive-contact {
    display: none;
  }
  .contact-form p {
    display: block;
    letter-spacing: 0.6px;
    margin-bottom: 72px;
  }
  input, textarea {
    display: block;
    margin: 0 auto;
    width: 454px;
    padding: 10px 16px;
    border: solid 1px #707070;
    border-radius: 16px;
    opacity: 0.6;
  }
  input {
    margin-bottom: 24px;
  }
  textarea {
    margin-bottom: 40px;
    height: 200px;
  }
  .submission-btn-responsive {
    display: none;
  }
  .submission-btn {
    display: block;
    font-size: 14px;
    color: #707070;
    background-color: #D1D1D1;
    opacity: 1;
    border: none;
    width: 161px;
    padding: 7px 60px 6px 60px;
    margin-bottom: 0;
  }
}
/* お問い合わせおわり */
