@charset "utf-8";

html {
  color: #3B3B3B;
}
body, ::placeholder {
  font-family: 'Noto Sans JP', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #3B3B3B;
}
h2 {
  text-align: center;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 2.2px;
  margin-bottom: 32px;
}
@media screen and (min-width: 376px) {
  h2 {
    font-size: 24px;
    letter-spacing: 2.4px;
    margin-bottom: 48px;
  }
}
/* ヘッダー */
.header-container {
  text-align: center;
  padding: 16px 0;
  background-color: #918F89;
}
.default-logo {
  display: none;
}
.responsive-logo {
  height: 24px;
}
.page-list {
  display: none;
}
@media screen and (min-width: 376px) {
  .header-container {
    background-color: #fff;
    padding: 0;
    height: 56px;
    display: flex;
    justify-content: space-between;
  }
  .default-logo {
    display: block;
    margin-top: 16px;
    margin-left: 96px;
    height: 24px;
  }
  .responsive-logo {
    display: none;
  }
  .page-list {
    display: flex;
  }
  .page-list li {
    margin-top: 26px;
    margin-right: 56px;
  }
  .page-list a {
    color: #B2B2B2;
  }
  li > .current-page {
    color: #3B3B3B;
  }
  .page-list li:last-child {
    margin-right: 96px;
  }
}
/* ヘッダーおわり */
/* キービジュアル */
.key-visual {
  height: 704px;
  position: relative;
  padding-top: 256px;
  text-align: center;
  margin-bottom: 160px;
}
.responsive-title{
  font-size: 25px;
  color: #3B3B3B;
  letter-spacing: 2.5px;
}
.default-title {
  display: none;
}
@media screen and (min-width: 376px) {
  .key-visual {
    height: 456px;
  }
  .default-title {
    position: absolute;
    top: 191px;
    left: 228px;
    font-size: 30px;
    letter-spacing: 3px;
    display: block;
    color: #918F89;
  }
  .responsive-title {
    display: none;
  }
}
/* キービジュアルおわり */
/* フッター */
footer {
  padding: 72px 0 32px 0;
  height: 240px;
  background-color: #918F89;
}
.footer-container img {
  height: 30px;
  display: block;
  margin: 0 auto 82px auto;
}
small {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.4px;
}
@media screen and (min-width: 376px) {
  footer {
    padding: 0;
    height: 240px;
    background-color: #918F89;
    padding-bottom: 24px;
  }
  .footer-container {
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
  }
  .footer-container img {
    height: 40px;
    margin-left: 224px;
    margin-bottom: 0;
  }
  .footer-container li {
    margin-top: 0px;
    margin-right: 32px;
  }
  .footer-container li:last-child {
    margin-right: 224px;
  }
  .footer-container a {
    color: #fff;
  }
  small {
    display: block;
    text-align: center;
    font-size: 11px;
    color: #fff;
    letter-spacing: 0.44px;
  }
}
/* フッターおわり */